.container-fluid {
  height: calc(100% - 12%);
  padding: 0;
}

mat-form-field {
  width: 50%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 16px;
  margin: 0;
  background: #fff;
}

.notes-body {
  height: 100%;
  width: 100%;
  background: #fff;
  padding: 1rem;
}

p {
  margin-bottom: 0;
}

.title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::ng-deep .ql-container {
  /* min-height: 700px; */
  height: auto;
}

::ng-deep .ql-toolbar.ql-snow {
  border: none;
}

::ng-deep .ql-container.ql-snow {
  border: none;
}

::ng-deep .mat-form-field-wrapper {
  position: relative;
  padding-left: 1rem;
}

.wordCount {
  position: fixed;
  right: 10px;
  bottom: 5px;
  text-align: end;
  font-weight: 300;
  font-style: italic;
}

.span-header {
  font-size: 16px;
  font-weight: 400;
}
