<app-sidelist>
    <div class="container-fluid">
        <div *ngIf="noActionDone" #startWritingBlock style="height: 100%;">
            <div class="notes-body">
                <div (mouseover)="showContent=true" (mouseout)="isContentFilled()"
                    style="margin: auto;text-align: center; margin-top: 2%; ">
                    <mat-form-field [floatLabel]="'never'">
                        <mat-label>Start Typing here</mat-label>
                        <input matInput placeholder="Placeholder" [(ngModel)]="title">
                    </mat-form-field>
                    <div *ngIf="showContent">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Leave a comment</mat-label>
                            <textarea matInput [(ngModel)]="content"></textarea>
                        </mat-form-field>
                        <button mat-flat-button (click)="save()">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!noActionDone" #noActionBlock>
            <p class="header">
                <span>Start Writing</span>
                <span><button mat-flat-button (click)="noActionDone=true">Add</button></span>
            </p>
            <div class="body mt-5">
                <p class="text-center">Start writing something...</p>
            </div>
        </div>
    </div>
</app-sidelist>