<app-sidelist #sidelist>
    <div class="container-fluid">
        <div *ngIf="noActionDone" #startWritingBlock style="height: 100%;">
            <div class="notes-body">
                <div>
                    <p class="title-header">
                        <mat-form-field [floatLabel]="'never'">
                            <input matInput placeholder="Title of your masterpiece" [(ngModel)]="currentNote.title">
                        </mat-form-field>
                        <button mat-stroked-button (click)="save();sidelist.getStoredNotes()">Save</button>
                    </p>
                    <div>
                        <quill-editor [modules]="toolbarConfigs" (onEditorChanged)="changedEditor($event)"
                            [(ngModel)]="currentNote.content"></quill-editor>
                    </div>
                    <p class="wordCount">{{wordsCount}} words</p>
                </div>
            </div>
        </div>
        <div *ngIf="!noActionDone" #noActionBlock style="height: 95%;">
            <p class="header">
                <span>Start Writing</span>
                <span><button mat-flat-button (click)="noActionDone=true">Add</button></span>
            </p>
            <div class="d-flex justify-content-center" style="height:100%">
                <img src="./assets/images/4 Multitasking.svg">
            </div>
        </div>
    </div>
</app-sidelist>