.container-fluid {
  height: 88%;
}

mat-form-field {
  width: 50%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: 0;
  background: #fff;
}

.notes-body {
  height: 100%;
  width: 100%;
  background: #fff;
  padding: 1rem;
}

p {
  margin-bottom: 0;
}

.title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes-content {
  width: 100%;
  height: 100%;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
}

#notesContent ::ng-deep .mat-form-field-underline {
  display: none;
}
