.is-active {
  background-color: #345d87;
}

mat-sidenav-container {
  height: 100%;
}

p {
  text-align: center;
}

mat-sidenav {
  width: 15%;
}

.sidenav {
  height: 100%;
  padding: 0 0.2%;
}

.noNotesImg {
  height: calc(100% - 125px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notesList {
  width: 100%;
  display: flex;
  padding: 5%;
}

.box-body {
  width: 90%;
}

.box-option {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-body-date {
  text-align: left;
  font-size: 12px;
  font-weight: 200;
  font-style: italic;
}

.box-body-title {
  font-size: 16px;
  text-align: left;
  cursor: pointer;
}

p {
  margin-bottom: 0;
}

mat-toolbar .mat-toolbar-row,
.mat-toolbar-single-row {
  height: clamp(20px, 7%, 8%);
}

@media (max-width: 767px) {
  mat-sidenav {
    width: 55%;
  }
}

@media screen and (min-width: 767px) and (max-width: 1070px) {
  mat-sidenav {
    width: 20%;
  }
}

.sidenotes {
  height: calc(100% - 125px);
  overflow: auto;
}

/* Button Styles */

.button {
  display: inline-flex;
  height: 3.5em;
  width: 80%;
  border: 2px solid #bfc0c0;
  margin: 20px 20px 20px 20px;
  color: #595959;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: #bfc0c0;
  text-decoration: none;
  letter-spacing: 1px;
}

#button-7 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-7 a {
  position: relative;
  left: 0;
  transition: all 0.35s ease-Out;
}

#dub-arrow {
  width: 100%;
  height: 100%;
  background: #d5d5d5;
  left: -250px;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease-Out;
  bottom: 0;
}

#button-7 mat-icon {
  width: 20px;
  height: auto;
  color: #000;
}

#button-7:hover #dub-arrow {
  left: 0;
}

#button-7:hover a {
  left: 150px;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 2.2em;
  }
  #container {
    width: 50%;
  }
}

.mat-toolbar {
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid #f2f2f2;
}

.heading h2 {
  font-size: 1.1em;
}

.noNotesImg p {
  font-size: 1em;
}

.selectedNoteList {
  width: 100%;
  display: flex;
  padding: 5%;
  background-color: #eaeaea;
  border-radius: 1em;
}

.sidelist-hdr {
  vertical-align: middle;
  font-size: 20px;
  font-weight: 500;
}

.sidelist-heading {
  display: block;
  width: 100%;
  margin: auto;
}
