<mat-sidenav-container autosize [hasBackdrop]="false">
    <mat-sidenav #drawer mode="side" class="sidenav" [attr.role]="(isHandset | async) ? 'dialog' : 'navigation'"
        [mode]="'side'" [opened]="isExpanded">
        <div id="navbar" class="sidenav">
            <div *ngIf="storedNotes.length !== 0;else no_content">
                <div *ngFor="let note of storedNotes;let i=index" class="notesList my-1">
                    <div class="box-body" (click)="selectNote(note)">
                        <span>
                            <p class="box-body-title">{{note.title}}</p>
                            <p class="box-body-date">{{note.date | date:'medium'}}</p>
                        </span>
                        <span>{{note.content | substr}}</span>
                    </div>
                    <div class="box-option">
                        <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                        <mat-menu #menu="matMenu">
                            <button (click)="deleteNote(i)" mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
            <ng-template #no_content>
                <div class="noNotesImg">
                    <img src="./assets/images/1 Working remotely.svg">
                    <p>No stored notes found...</p>
                </div>
            </ng-template>
        </div>
    </mat-sidenav>
    <!-- <mat-sidenav-content> -->
    <mat-toolbar>

        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <div class="col-sm heading" style="margin: auto;">
            <h2>Note-It!</h2>
        </div>
    </mat-toolbar>

    <!-- Add Content Here -->
    <ng-content></ng-content>


</mat-sidenav-container>