.is-active {
  background-color: #345d87;
}

mat-sidenav-container {
  height: 100%;
}

p {
  text-align: center;
}

mat-sidenav {
  width: 15%;
}

.sidenav {
  /* height: 100%; */
  padding: 0 0.2%;
}

.noNotesImg {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 98%;
}

.notesList {
  width: 100%;
  display: flex;
  border: 1px solid;
  padding: 1%;
  /* margin: 2.5% 0; */
}

.box-body {
  width: 90%;
}

.box-option {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-body-date {
  text-align: left;
  font-size: 12px;
  font-weight: 200;
  font-style: italic;
}

.box-body-title {
  font-size: 16px;
  text-align: left;
  cursor: pointer;
}

p {
  margin-bottom: 0;
}
