@import "~bootstrap/dist/css/bootstrap.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --bg-color: #fff;
  --border-color: 1px solid #f2f2f2;
  --font-color: #000;
  --quill-toolbar-color: #fff;
}
